<section class="my-custom-container">
    <h2 mat-dialog-title align="center" style="font-family: Impact">CATALOGO FACTURAS</h2>
    <td></td>
    <div mat-dialog-content>
        <!-- <p>{{mensaje}}</p> -->
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Consultar Factura</mat-label>
                <input matInput type="text" [(ngModel)]="consultar.cotizacionFactura" name="facturaFactura"
                    [formControl]="cotizacionFacturaFormControl" [errorStateMatcher]="matcher"
                    (keydown.enter)="buscarFactura()">
                <button type="button" mat-icon-button matSuffix color="basic"
                    (click)="buscarFactura()">
                    <mat-icon matSuffix color="primary">description</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div *ngIf="isLoadingResults" class="loading-shade">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

        <table mat-table [dataSource]="dataSourceFactura" class="mat-elevation-z8">

            <ng-container matColumnDef="numeroFactura">
                <th mat-header-cell *matHeaderCellDef> Numero Factura </th>
                <td mat-cell *matCellDef="let factura"> {{factura.numeroFactura}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaFactura">
                <th mat-header-cell *matHeaderCellDef> Fecha Factura </th>
                <td mat-cell *matCellDef="let factura"> {{factura.fechaFactura}} </td>
            </ng-container>

            <ng-container matColumnDef="efectivo">
                <th mat-header-cell *matHeaderCellDef> Pago Efectivo </th>
                <td mat-cell *matCellDef="let factura"> {{factura.cantidadEfectivo | currency : 'USD' : 'symbol' : '1.0-0'
                    }} </td>
            </ng-container>

            <ng-container matColumnDef="transferencia">
                <th mat-header-cell *matHeaderCellDef> Pago Transf </th>
                <td mat-cell *matCellDef="let factura"> {{factura.cantidadTransferencia | currency : 'USD' : 'symbol' :
                    '1.0-0' }} </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Pago Total </th>
                <td mat-cell *matCellDef="let factura"> {{factura.total | currency : 'USD' : 'symbol' : '1.0-0' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="vendedor">
                <th mat-header-cell *matHeaderCellDef> Vendedor </th>
                <td mat-cell *matCellDef="let factura"> {{factura.vendedor}} </td>
            </ng-container>

            <ng-container matColumnDef="facturaElectronica">
                <th mat-header-cell *matHeaderCellDef> Factura Electonica </th>
                <td mat-cell *matCellDef="let factura"> {{factura.numeroFacturaElectronica}} </td>
            </ng-container>

            <ng-container matColumnDef="numeroDevolucion">
                <th mat-header-cell *matHeaderCellDef> Numero Devolución </th>
                <td mat-cell *matCellDef="let factura"> {{factura.numeroDevolucion}} </td>
            </ng-container>

            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let factura">
                    <button type="button" mat-icon-button color="primary" matTooltip="Descargar"
                        (click)="seleccionar(factura)">
                        <mat-icon>archive</mat-icon>
                    </button>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

        </table>
    </div>
    <div *ngIf="mensajeExitoso" class="alert alert-success mt-3">
        {{ mensajeExitoso }}
    </div>
    <div *ngIf="mensajeFallido" class="alert alert-danger mt-3">
        {{ mensajeFallido }}
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button (click)="cerrar()" color="warn" cdkFocusInitial>CANCELAR</button>
    </div>
</section>