<mat-toolbar color="primary" class="mat-elevation-z6">

  <button mat-icon-button matTooltip="Menu" (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button routerLink="/buscarArticulo" matTooltip="Buscar">
    <mat-icon>search</mat-icon>
  </button>

  <span class="spacer"></span>
  <button mat-fab extended disabled class="colorText">
    {{tittleForm}}
  </button>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="usuarios" matTooltip="Gestion Cuentas">
    <mat-icon>manage_accounts</mat-icon>
    <mat-menu #usuarios="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="/registrarUsuario">Registrar</button>
        <button mat-menu-item routerLink="/buscarUsuario">Buscar</button>
      </ng-template>
    </mat-menu>
  </button>

  
  <button mat-icon-button [matMenuTriggerFor]="config" matTooltip="Ajustes">
    <mat-icon>settings</mat-icon>
    <mat-menu #config="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="caja">
        <mat-icon>all_inbox</mat-icon>
        <span>Caja</span>
      </button>
    </mat-menu>   
    <mat-menu #caja="matMenu">
      <button mat-menu-item routerLink="/registrarCaja">Registrar</button>
      <button mat-menu-item routerLink="/buscarCaja">Buscar</button>
      <button *ngIf="this.tokenService.rolName" mat-menu-item routerLink="/administrarCaja">Administrar</button>
    </mat-menu>
  </button>
  
  <button mat-icon-button matTooltip={{this.tokenService.userName}}>
    <mat-icon>assignment_ind</mat-icon>
  </button>
  <button mat-icon-button routerLink="/login" matTooltip="Salir">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="push">
    <mat-nav-list>
      <mat-list-item routerLink="/menu" matTooltip="Punto U" (click)="opened=!opened">
        <mat-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/ventasProductos" [class.mat-elevation-z0]="true">
        <mat-icon>shopping_bag</mat-icon>
        <span>Catalogo Ventas</span>
      </mat-list-item>
        <mat-list-item routerLink="/cotizacionesProductos" [class.mat-elevation-z0]="true">
        <mat-icon>addchart</mat-icon>
        <span>Catalogo Cotizaciones</span>
    </mat-list-item>
    <mat-list-item  *ngIf="this.tokenService.rolName" routerLink="/devolucionesProductos" [class.mat-elevation-z0]="true">
      <mat-icon>assignment_return</mat-icon>
      <span>Catalogo Devoluciones</span>
  </mat-list-item>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>person</mat-icon>
          <span> Clientes</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarCliente">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarCliente">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>article</mat-icon>
          <span> Articulos</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarArticulo">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarArticulo">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>location_on</mat-icon>
          <span> Ubicaciones</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarUbicacion">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarUbicacion">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>supervisor_account</mat-icon>
          <span> Proveedores</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarProveedor">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarProveedor">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/comprasProductos" [class.mat-elevation-z0]="true">
        <mat-icon>shopping_basket</mat-icon>
        <span>Catalogo Compras</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>table_chart</mat-icon>
          <span> Reportes</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/reportesVentas">
            <span>Ventas</span>
          </a>
          <a mat-list-item routerLink="/reportesCompras">
            <span>Compras</span>
          </a>
          <a mat-list-item routerLink="/reportesArticulos">
            <span>Stock Articulos</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>

    <mat-card>
      <div *ngIf="isLoadingResults" class="loading-shade">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <form class="form">
        <td></td>
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Codigo Barras</mat-label>
                <mat-icon matSuffix>code</mat-icon>
                <input matInput [(ngModel)]="nuevoArticulo.codigoBarras" name="codigoBarras">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <mat-icon matSuffix>description</mat-icon>
                <input matInput [(ngModel)]="nuevoArticulo.descripcion" name="descripcion"
                  [formControl]="descripcionFormControl" [errorStateMatcher]="matcher">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Marca</mat-label>
                <mat-icon matSuffix>label_important</mat-icon>
                <input matInput [(ngModel)]="nuevoArticulo.marca" name="marca" [formControl]="marcaFormControl"
                  [errorStateMatcher]="matcher">
              </mat-form-field>
            </td>
          </tr>
        </table>


        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Referencia</mat-label>
                <mat-icon matSuffix>label</mat-icon>
                <input matInput [(ngModel)]="nuevoArticulo.referencia" name="referencia"
                  [formControl]="referenciaFormControl" [errorStateMatcher]="matcher">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Unidad Medida</mat-label>
                <mat-icon matSuffix>list</mat-icon>
                <mat-select [(ngModel)]="nuevoArticulo.unidadMedida" name="unidadMedida"
                  [formControl]="unidadMedidaFormControl" [errorStateMatcher]="matcher">
                  <mat-option disabled selected>Selecciona una opcíon</mat-option>
                  <mat-option value="UND">UNIDAD</mat-option>
                  <mat-option value="SER">SERVICIO</mat-option>
                  <mat-option value="CEN">CENTIMETRO</mat-option>
                  <mat-option value="RES">RESMA</mat-option>
                  <mat-option value="CAJ">CAJA</mat-option>
                  <mat-option value="ROL">ROLLO</mat-option>
                  <mat-option value="MET">METRO</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Codigo Ubicación</mat-label>
                <mat-icon matSuffix>list</mat-icon>
                <mat-select [(ngModel)]="nuevoArticulo.codigoUbicacion" name="codigoUbicacion"
                  [formControl]="codigoUbicacionFormControl" [errorStateMatcher]="matcher">
                  <mat-option disabled selected>Selecciona una opcíon</mat-option>
                  <mat-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.codigo">
                    {{ ubicacion.codigo }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div *ngIf="this._id !== null">
          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Stock</mat-label>
                  <mat-icon matSuffix>inventory</mat-icon>
                  <input matInput [(ngModel)]="nuevoArticulo.stock" name="stock"
                  [formControl]="stockFormControl" [errorStateMatcher]="matcher">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Precio Venta</mat-label>
                  <mat-icon matSuffix>price_check</mat-icon>
                  <input matInput [(ngModel)]="nuevoArticulo.precioVenta" name="precioVenta"
                  [formControl]="precioVentaFormControl" [errorStateMatcher]="matcher">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Precio Mayoreo</mat-label>
                  <mat-icon matSuffix>price_check</mat-icon>
                  <input matInput [(ngModel)]="nuevoArticulo.precioMayoreo" name="precioMayoreo"
                  [formControl]="precioMayoreoFormControl" [errorStateMatcher]="matcher">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Precio Interno</mat-label>
                  <mat-icon matSuffix>price_check</mat-icon>
                  <input matInput [(ngModel)]="nuevoArticulo.precioInterno" name="precioInterno"
                  [formControl]="precioInternoFormControl" [errorStateMatcher]="matcher">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        
        <div *ngIf="mensajeExitoso" class="alert alert-success mt-3">
          {{ mensajeExitoso }}
        </div>
        <div *ngIf="mensajeFallido" class="alert alert-danger mt-3">
          {{ mensajeFallido }}
        </div>

        <div *ngIf="this._id === null">
          <mat-card-actions align="end">
            <button mat-icon-button matTooltip="Guardar"
              [disabled]="descripcionFormControl.invalid || marcaFormControl.invalid || referenciaFormControl.invalid || unidadMedidaFormControl.invalid || codigoUbicacionFormControl.invalid"
              (click)="crearArticulo()">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Cancelar" (click)="refreshPage()">
              <mat-icon>cancel_presentation</mat-icon>
            </button>
          </mat-card-actions>
        </div>
        <div *ngIf="this._id !== null">
          <mat-card-actions align="end">
            <button mat-icon-button matTooltip="Editar"
              [disabled]="descripcionFormControl.invalid || marcaFormControl.invalid || referenciaFormControl.invalid || unidadMedidaFormControl.invalid || codigoUbicacionFormControl.invalid
                        || stockFormControl.invalid || precioVentaFormControl.invalid || precioMayoreoFormControl.invalid || precioInternoFormControl.invalid"
              (click)="editarArticulo()">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Regresar" routerLink="/buscarArticulo">
              <mat-icon>assignment_return</mat-icon>
            </button>
          </mat-card-actions>
        </div>
      </form>

    </mat-card>

    <img src="../../assets/PuntoU.jpg" class="img-fluid"
      style="position: absolute; right: 0; top: 0; z-index: -100; width: 100%; height: 100%;">

  </mat-sidenav-content>
</mat-sidenav-container>